Makefile.in
Makefile
config.h.in
aclocal.m4
autom4te.cache/
config.h
config.status
configure
depcomp
install-sh
missing
compile
stamp-h1
*.o
*.lo
*.la
sane_scanner 
*~
*.swp
*.swo
.DS_Store
.deps/
src/.deps/
src/.dirstamp
